#descobertas {
    display: flex;
    flex-direction: row; /* Alinha os elementos em uma linha */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    gap: 10px; /* Espaçamento entre os elementos */
    margin-top: 20px; /* Espaço em relação aos elementos iniciais */
}

#elementos-iniciais {
    display: flex;
    flex-direction: row; /* Alinha os elementos em uma linha */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    gap: 10px; /* Espaçamento entre os elementos */
    margin-bottom: 20px; /* Espaço em relação às descobertas */
}